﻿@model Games_Catalog_N01589651.Models.GameDto


@{
    ViewBag.Title = "View";
}

<a href="/Game/List">Go back to list</a>
<h2>@Model.GameName</h2>
<div>Release Date: @Model.ReleaseDate</div>
<div>Price: @Model.Price</div>
<div>Description: @Model.Description</div>
<div>Genre Name: @Model.GenreName</div>
<div>Developer Name: @Model.DeveloperName</div>

