﻿@model Games_Catalog_N01589651.Models.GameDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Game</h2>

<form action="/Game/Update/@Model.GameId" method="POST">
    <input type="text" style="display:none;" name="GameId" value="@Model.GameId" />
    <div class="mb-3">
        <label class="form-label">Game Name: </label> <input class="form-control" value="@Model.GameName" type="text" name="GameName" />
    </div>
    <div class="mb-3">
        <label class="form-label">Release Date: </label> <input class="form-control" type="date" value="@Model.ReleaseDate" name="ReleaseDate" />
    </div>
    <div class="mb-3">
        <label class="form-label">Price: </label> <input class="form-control" type="number" value="@Model.Price" name="Price" />
    </div>
    <div class="mb-3">
        <label class="form-label">Description: </label> <input class="form-control" type="text" value="@Model.Description" name="Description" />
    </div>
    <div class="mb-3">
        <label class="form-label">Genre ID: </label> <input class="form-control" type="number" name="GenreId" value="@Model.GenreId" />
    </div>
    <div class="mb-3">
        <label class="form-label">Developer ID: </label> <input class="form-control" type="text" name="DeveloperId" value="@Model.DeveloperId" />
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Update Game" />

    </div>
</form>
