﻿@model IEnumerable<Games_Catalog_N01589651.Models.GameDto>
@{
    ViewBag.Title = "List";
}

<h2>List Games</h2>
<a href="/Game/New">New Game</a>
@foreach (var game in Model)
{
    <h4><a href="/Game/Details/@game.GameId">@game.GameName</a></h4>
    <div>Release Date: @game.ReleaseDate</div>
    <div>Price: @game.Price</div>
    <div>Description: @game.Description</div>
    <div>Genre Name: @game.GenreName</div>
    <div>Developer Name: @game.DeveloperName</div>
}

